html, body { height: 100%; }

header {
    padding: 20px 10px;
    
    h1 { color: darkblue; }
}

main {
    padding: 50px;
    
    .error-msg {
        color: #a94442;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 5px;
    
    a {
        color: white;
        text-decoration: none;
        
        &:hover,
        &:focus {
            color: white;
            text-decoration: none;
        }
    }
    
}