<div class="mangle-it-component">
    
    <!-- Enter Name section -->
    <div class="enter-name" ng-if="!mangleItCtrl.model.isGameOn">

        <div class="well">
            <h2>Rules:</h2>
            <p>
                You'll be presented with a list of mangled words. The goal is to enter the correct unmangled word for each one.
                <strong>For example:</strong> <em>zpaiz</em> &rarr; <em>pizza</em>. You have 40 seconds to unmangle as many words
                as possible. Each word has a score. If you enter the correct one on the first guess, you'll obtain the full score.
                For every character you delete, the score will decrease 1 point.
            </p>
            
            <h3>Good Luck!!</h3>
        </div>
        
        <form name="mangleItCtrl.enterNameForm">
            <div class="form-group" ng-class="{'has-error': mangleItCtrl.invalidUsername()}">
                <label for="name">Enter Name:</label>
                
                <input type="text" 
                       class="form-control" 
                       id="name" 
                       placeholder="Name..." 
                       ng-model="mangleItCtrl.model.user.name" 
                       required="required">
            </div>
            <button class="btn btn-primary" 
                    ng-class="{disabled: mangleItCtrl.pristineInput() || mangleItCtrl.invalidUsername()}"
                    ng-click="mangleItCtrl.startClick()">Start</button>
        </form>

    </div>

    <!-- Game On section -->
    <div class="game-on" ng-if="mangleItCtrl.model.isGameOn">
        
        <div class="well">
            
            <div class="row">
                
                <div class="col-md-8">
                    <h3><strong><em>{{mangleItCtrl.model.user.name}}</em></strong> is playing</h3>
                    <h2>Total score: <strong>{{mangleItCtrl.model.totalScoreParticipant}}</strong></h2>        
                </div>
                
                <div class="col-md-4">
                    <div class="pull-right">
                        <countdown timeout="{{mangleItCtrl.model.timeout}}" on-end="mangleItCtrl.onCountdownEnd()"></countdown>
                    </div>
                </div>
                
            </div>
            
            
        </div>
        
        <h4 ng-if="mangleItCtrl.isLoadingWords"><em>Loading words...</em></h4>
        
        <form name="mangleItCtrl.enterWordForm" class="form-inline" ng-show="mangleItCtrl.model.hasMangledWord">
            <div class="form-group">
                
                <label for="word">{{mangleItCtrl.model.mangledWord}} &rarr; </label>

                <input type="text" 
                       class="form-control" 
                       id="word" 
                       placeholder="Unmangle... {{mangleItCtrl.model.unmangledWord}}"
                       ng-keydown="mangleItCtrl.onKeydown($event)"
                       ng-model="mangleItCtrl.enteredWord">
                
                <span class="error-msg" ng-show="mangleItCtrl.wrongWord">Wrong solution!. Try again</span>
            </div>
        </form>
        
    </div>
    
    <!-- Game Over section -->
    <div class="game-over" ng-if="mangleItCtrl.model.isGameOver">
        <h2>Game Over</h2>
        <p>Please, submit your score...</p>
        <button type="button" class="btn btn-primary" ng-click="mangleItCtrl.submitClick()">Submit</button>
    </div>
    
</div>